<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" style="width: 240px">
    <img src="../assets/card.jpg" alt="card" style="width: 100%">
    <div class="card-box">
      <div class="card-title">{{typeMovie}}</div>
      <div class="card-subtitle">豆瓣电影</div>
    </div>
    <mat-nav-list>
      <mat-list-item (click)="routerTo('in_theaters')">
        <mat-icon mat-list-icon>whatshot</mat-icon>
        <p mat-line>正在热映</p>
      </mat-list-item>
      <mat-list-item (click)="routerTo('coming_soon')">
        <mat-icon mat-list-icon>video_library</mat-icon>
        <p mat-line>即将上映</p>
      </mat-list-item>
      <mat-list-item (click)="routerTo('top250')">
        <mat-icon mat-list-icon>sort</mat-icon>
        <p mat-line>TOP250</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="toolbar-box">
      <mat-toolbar color="primary" class="toolbar-main">
        <mat-icon style="cursor: pointer;" (click)="sidenav.toggle()">menu</mat-icon>
        <p class="m-l-1">豆瓣电影</p>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-toolbar>
      <mat-progress-bar class="toolbar-progress" mode="indeterminate" [class.hidden]="hiddenProgress"></mat-progress-bar>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
